# 1. 彻底忽略 Mac 自动生成的全局隐藏属性缓存文件
.DS_Store
.DS_Store?
._*

# 2. 彻底忽略 IDE 和配置（不保留 .vscode 内的任何东西）
.vscode/
.idea/
*.suo
*.user

# 3. 忽略 CMake 编译生成的庞大产物目录
build/

# 4. 忽略 Mac 编译生成的 dSYM 调试符号表文件夹
*.dSYM/
.dSYM/

# ===================================================
# 5. 精准屏蔽所有无后缀二进制文件，同时绝对放行源码
# ===================================================
# 先用地图炮忽略所有文件
*

# 紧接着反向放行：允许所有带点（后缀）的文件
!*.*

# 紧接着反向放行：允许所有的文件夹
!*/